[submodule "telemetry/include/mavlink/v1.0"]
	path = telemetry/include/telemetry/mavlink/v1.0
	url = https://github.com/telemetry/mavlink_c_library.git
[submodule "rosflight_firmware/firmware"]
	path = rosflight_firmware/firmware
	url = https://github.com/telemetry/firmware
